body {
  color: #fcfcff;
}

.navbar {
  background-color: #4369b2;
  width: 100%;
}
.dealsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.steamHeader{
  background-color: #5588e3;
}

.organizer {
  width: 100%;
  background-color: #35548b;
}

.dealCard {
  text-align: center;
  text-decoration: none;
  min-height: 130px;
}

.dealCard:nth-child(4n),
.dealCard:nth-child(4n + 1) {
  background-color: #4268af; /* Pink */
}

.dealCard:nth-child(4n + 2),
.dealCard:nth-child(4n + 3) {
  background-color: #4063a6; /* Dark Pink */
}

a {
  color: #fcfcff;
}